.feature-container {
    display: flex;
    align-items: flex-end;
    gap: 20px;

    .feature-item {
        display: flex;
        padding: 20px 30px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        border: 1px solid #D2D2D2;

        .label {
            color: #333;
            font-size: 21px;
            font-weight: 600;
            line-height: 119.682%;
            text-transform: capitalize;
        }

        .content {
            color: #333;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.32px;
            text-transform: capitalize;
        }
    }
}

.download-app-container {
    text-align: center;
}

.download-app-container>div {
    gap: 92px;
    text-align: left;

    .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        .title {
            color: #222;
            font-size: 32px;
            font-weight: 400;
            text-transform: capitalize;
        }

        .description {
            color: #555;
            font-family: "Open Sans", sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 225%;
            letter-spacing: 0.6px;
        }
    }
}