.news-post {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        div {
            color: #222;
            font-size: 32px;
            font-weight: 400;
            text-transform: capitalize;
        }

        button {
            padding: 15px 20px;
            text-align: center;
            border-radius: 10px;
            color: #FFF;
            font-size: 16px;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: 1.12px;
            text-transform: uppercase;
        }
    }

    .post-content-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 52px;
        margin-top: 20px;

        .post-content {
            display: flex;
            flex-direction: column;
            border: 1px solid #D3D3D3;

            .calendar {
                display: flex;
                color: var(--Gray-3, #828282);
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 221%;
                letter-spacing: 0.32px;
                text-transform: capitalize;
                align-items: flex-start;
                gap: 20px;

                .info {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                }
            }

            .title {
                color: #333;
                font-size: 21px;
                font-weight: 600;
                line-height: 140%;
                text-transform: capitalize;
            }

            .title {
                color: #747474;
                font-family: "Roboto", sans-serif;
                font-size: 17px;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: 0.34px;
            }

            .more {
                position: relative;
                width: fit-content;
                color: #111;
                font-size: 15px;
                font-weight: 600;
                line-height: 120%;
                text-transform: uppercase;
            }

            .more::after {
                position: absolute;
                margin-top: 5px;
                width: 100%;
                content: '';
                display: block;
                border-bottom: 3px solid #111;
            }
        }

    }
}