.sign-up-container {
    background: url("../img/banner_signup.jpeg") lightgray 50% / cover no-repeat;
}

.sign-up-container>div {

    .sign-up {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;

        .email-info {

            input {
                color: #222;
                font-family: "Open Sans", sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 225%;
                letter-spacing: 0.32px;
            }
        }


    }
}